@model UpdatedParty.Models.Gallery
@{
    ViewBag.Title = "Galería";
    Layout = "~/Views/Shared/_Interior.cshtml";
}
<h2 style="color: yellow; font-family: bebasneue">
    Galería</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.BarId)
    <fieldset>
        <legend style="color: yellow">Selecciona una imagen</legend>

        <div class="editor-field">
            <p><input type="file" id="imagen" name="imagen" /></p>
            @Html.ValidationMessageFor(model => model.UrlImage)
        </div>
        <p>
            <input type="image" src="../../Content/images/guardar.png" alt="Guardar" />
        </p>
    </fieldset>
}
<br />
<p>
    <img src="../../Content/images/picture.png" alt="Imagenes" style="vertical-align: middle" />
    @Html.ActionLink("Listado de imágenes", "Index", null, new { style = "vertical-align: middle" })
</p>
