@model UpdatedParty.Models.Gallery

@{
    ViewBag.Title = "Galería";
    Layout = "~/Views/Shared/_Interior.cshtml";
}

<h2>Subir imagen</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.BarId)
    <fieldset>
        <legend style="color: yellow">Galería</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.UPUserID, "UPUser")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UPUserID", String.Empty)
            @Html.ValidationMessageFor(model => model.UPUserID)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.UrlImage)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.UrlImage)*@
            <input type="file" id="imagen" name="imagen" />
            @Html.ValidationMessageFor(model => model.UrlImage)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.RegisterDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegisterDate)
            @Html.ValidationMessageFor(model => model.RegisterDate)
        </div>*@

        <p>
            <input type="submit" value="Cargar imagen" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Lista de imágenes", "Index")
</div>
