@model IEnumerable<UpdatedParty.Models.Gallery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            UPUser
        </th>
        <th>
            UrlImage
        </th>
        <th>
            RegisterDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UPUser.upUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GalleryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GalleryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GalleryID })
        </td>
    </tr>
}

</table>
