@model IEnumerable<UpdatedParty.Models.StayUP>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Interior.cshtml";
}

<h2>Calendario de eventos y promociones</h2>

<p>
    @Html.ActionLink("Nuevo evento", "Create")
</p>
<table>
    <tr>
        <th>
            Promoción y evento
        </th>
        <th>
            Fecha del evento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.StayUPID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.StayUPID })
        </td>
    </tr>
}

</table>
