@model UpdatedParty.Models.Bar
@{
    ViewBag.Title = Model.BarName;
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="../../Scripts/slides.min.jquery.js"></script>
<script>
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true
        });
    });
</script>
<div style="clear: both; width: 100%; color: white;">
    <div style="width: 100%; margin-top: 20px; border-bottom: 2px dotted #C1C4C9;">
        <div style="float: left; width: 340px">
            <div style="width: 100%;" itemscope itemtype="http://data-vocabulary.org/Organization">
                <h1 style="color: yellow; margin: 1px;">
                    <span itemprop="name">@Html.DisplayFor(model => model.BarName)</span></h1>
            </div>
            <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span
                itemprop="street-address">@Html.DisplayFor(model => model.Street)</span> <span itemprop="locality">
                    <br />
                    Col. @Html.DisplayFor(model => model.Cologne),
                    <br />
                    @Html.DisplayFor(model => model.Township)
                    @Html.DisplayFor(model => model.TState.StateName).</span> </span>
            <br />
            <br />
            <span>Sitio web:
                <br />
                @if (!String.IsNullOrEmpty(Model.WebSite))
                {
                    <a href="@Html.DisplayFor(model => model.WebSite)" target="_blank" itemprop="url">@Html.DisplayFor(model => model.WebSite)</a>
                }
            </span>
        </div>
        <div style="float: left; width: 340px">
            <br />
            <br />
            <span>Horarios:
                <br />
                @Html.DisplayFor(model => model.BarSchedule)</span>
            <br />
            <span itemprop="tel">Reserva al: @Html.DisplayFor(model => model.PhoneNumber)</span>
            <br />
            @{  
                if (Model.Parking == true)
                {
                <span>
                    Cuenta con valet parking</span>
                }
            }
            <br />
            <span>Edad:</span>
            <br />
            <ul style="list-style: none; margin-left: 25px; margin-top: 0; padding: 0">
                @{
                    if (Model.YoungAge == true)
                    {
                    <li>18-23</li>
                    }
                    if (Model.MidAge)
                    {
                    <li>24-29</li>
                    }
                    if (Model.MidAge)
                    {
                    <li>30 +</li>
                    }
                }
            </ul>
        </div>
        <div style="float: left; width: 340px">
            <br />
            <br />
            @if (!String.IsNullOrEmpty(Model.Facebook))
            {
                <a href="@Html.DisplayFor(model => model.Facebook)" target="_blank" style="float: left">
                    <div id="facebook">
                    </div>
                </a>    
            }
            @if (!string.IsNullOrEmpty(Model.Twitter))
            { 
                <a href="@Html.DisplayFor(model => model.Twitter)" target="_blank" style="float: left">
                    <div id="twitter">
                    </div>
                </a>
            }
        </div>
        <div style="clear: both">
        </div>
    </div>
    <div style="clear: both; width: 100%;">
        <div style="float: left; width: 40%">
            <br />
            <p style="color: Yellow">
                Descripción del lugar</p>
            <p style="text-align: justify">@Html.DisplayFor(model => model.Review)</p>
            <p style="color: yellow">
                Música:</p>
            <ul>
                @{
                    if (Model.Alternative == true)
                    {
                    <li>Alternativo</li>
                    }
                    if (Model.Rock == true)
                    {
                    <li>Rock</li>
                    }
                    if (Model.Electronic == true)
                    {
                    <li>Electrónica</li>
                    }
                    if (Model.HipHop == true)
                    {
                    <li>Hip-Hop</li>
                    }
                    if (Model.JazzBlues == true)
                    {
                    <li>Jazz & Blues</li>
                    }
                    if (Model.Reggae == true)
                    {
                    <li>Reggae</li>
                    }
                    if (Model.Trova == true)
                    {
                    <li>Trova</li>
                    }
                    if (Model.Lounge == true)
                    {
                    <li>Lounge</li>
                    }
                    if (Model.Banda == true)
                    {
                    <li>Banda</li>
                    }
                    if (Model.Pop == true)
                    {
                    <li>Pop</li>
                    }
                    if (Model.Disco == true)
                    {
                    <li>Disco</li>
                    }
                    if (Model.Tropical == true)
                    {
                    <li>Tropical</li>
                    }
                    if (Model.Dj == true)
                    {
                    <li>Dj</li>
                    }
                }
            </ul>
            <p style="color: yellow">
                Tipo:</p>
            <ul>
                @{
                    if (Model.Cerveceria == true)
                    {
                    <li>Cerveceria</li>
                    }
                    if (Model.Pub == true)
                    {
                    <li>Pub</li>
                    }
                    if (Model.Karaoke == true)
                    {
                    <li>Karaoke</li>
                    }
                    if (Model.Botanero == true)
                    {
                    <li>Botanero</li>
                    }
                    if (Model.GayBar == true)
                    {
                    <li>Gay</li>
                    }
                    if (Model.Mezcaleria == true)
                    {
                    <li>Mezcalería</li>
                    }
                    if (Model.RestaurantBar == true)
                    {
                    <li>Restaurant bar</li>
                    }
                    if (Model.CervezaArtesanal == true)
                    {
                    <li>Cerveza artesanal</li>
                    }
                    if (Model.Billar == true)
                    {
                    <li>Billar</li>
                    }
                    if (Model.OpenBar == true)
                    {
                    <li>Al aire libre</li>
                    }
                    if (Model.SportsBar == true)
                    {
                    <li>Sports bar</li>
                    }
                    if (Model.DanceFloor == true)
                    {
                    <li>Dance bar</li>
                    }
                }
            </ul>
            @if (Model.BirthdayPromotion != null)
            {
                <p style="color: Yellow">
                    Promoción de cumpleaños:</p>
                <p>@Html.DisplayFor(model => model.BirthdayPromotion)</p>
            }
        </div>
        <div style="float: left; width: 60%; text-align: center">
            <div id="container">
                <div id="example">
                    <div id="slides">
                        <div class="slides_container">
                            @for (int i = 0; i < ViewBag.Num; i++)
                            {
                                
                                <a id="@("mytext" + i)"></a>
                            }
                        </div>
                        <a href="#" class="prev">
                            <img src="../../Content/images/arrow-prevup.png" width="24" height="43" alt="Arrow Prev"></a>
                        <a href="#" class="next">
                            <img src="../../Content/images/arrow-nextup.png" width="24" height="43" alt="Arrow Next"></a>
                    </div>
                    <div style="clear: both">
                    </div>
                </div>
            </div>
            <div style="clear: both">
            </div>
            <!-- Google maps 580px 350px-->
            @Html.Raw(Model.googlemaps)
        </div>
        <div style="clear: both">
        </div>
    </div>
</div>
<div style="clear: both">
    <script type="text/javascript">
        $.getJSON("/Bar/JsonSearch/" + @Model.BarID, null, function (data) {

            $.each(data, function (index, barimg) {

                $("#mytext" + index).append($("<a>",
                {
                    href: barimg,
                    html: $("<img>", { src: barimg })
                }));

            });

        });
    </script>
</div>
<div style="clear: both">
 
</div>
<p>
    <a style="color: yellow" href="javascript:history.back(1)">Regresar</a>
</p>
@*<a href="#" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank">
    <img src="http://slidesjs.com/examples/standard/img/slide-1.jpg" width="570" height="270"
        alt="Slide 1"></a> <a href="http://www.flickr.com/photos/stephangeyer/3020487807/"
            title="Taxi | Flickr - Photo Sharing!" target="_blank">
            <img src="http://slidesjs.com/examples/standard/img/slide-2.jpg" width="570" height="270"
                alt="Slide 2"></a> <a href="#" title="Happy Bokeh raining Day | Flickr - Photo Sharing!"
                    target="_blank">
                    <img src="http://slidesjs.com/examples/standard/img/slide-3.jpg" width="570" height="270"
                        alt="Slide 3" /></a> <a href="http://www.flickr.com/photos/b-tal/117037943/" title="We Eat Light | Flickr - Photo Sharing!"
                            target="_blank">
                            <img src="http://slidesjs.com/examples/standard/img/slide-4.jpg" width="570" height="270"
                                alt="Slide 4"></a> <a href="http://www.flickr.com/photos/bu7amd/3447416780/" title="“I must go down to the sea again, to the lonely sea and the sky; and all I ask is a tall ship and a star to steer her by.” | Flickr - Photo Sharing!"
                                    target="_blank">
                                    <img src="http://slidesjs.com/examples/standard/img/slide-5.jpg" width="570" height="270"
                                        alt="Slide 5"></a> <a href="http://www.flickr.com/photos/streetpreacher/2078765853/"
                                            title="twelve.inch | Flickr - Photo Sharing!" target="_blank">
                                            <img src="http://slidesjs.com/examples/standard/img/slide-6.jpg" width="570" height="270"
                                                alt="Slide 6"></a> <a href="http://www.flickr.com/photos/aftab/3152515428/" title="Save my love for loneliness | Flickr - Photo Sharing!"
                                                    target="_blank">
                                                    <img src="http://slidesjs.com/examples/standard/img/slide-7.jpg" width="570" height="270"
                                                        alt="Slide 7"></a>*@