@model UpdatedParty.Models.Bar
@{
    ViewBag.Title = Model.BarName;
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
<script src="../../Scripts/slides.min.jquery.js"></script>
<script>
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true
        });
    });
</script>
<div style="clear: both; width: 100%; color: white;">
    <div style="width: 100%; margin-top: 20px; height: 220px; border-bottom: 2px dotted #C1C4C9;">
        <div style="float: left; width: 340px">
            <div style="width: 100%;">
                @{
                    if (Model.BarType == true)
                    {
                    <h2 style="color: yellow; margin-bottom: 1px;">
                        Bar</h2>
                    }
                    else if (Model.Antro == true)
                    {
                    <h2 style="color: yellow; margin-bottom: 1px;">
                        Antro</h2>
                    }
                    else if (Model.After == true)
                    {
                    <h2 style="color: yellow; margin-bottom: 1px;">
                        After</h2>
                    }
                }
                <h1 style="color: yellow; margin: 1px;">@Html.DisplayFor(model => model.BarName)</h1>
            </div>
            <p>@Html.DisplayFor(model => model.Street)</p>
            <p>
                Col. @Html.DisplayFor(model => model.Cologne), @Html.DisplayFor(model => model.Township)
                @Html.DisplayFor(model => model.TState.StateName).</p>
            <br />
        </div>
        <div style="float: left; width: 340px">
            <br />
            <br />
            @{
                <p>
                    Reserva al: @Html.DisplayFor(model => model.PhoneNumber)</p>
                <p>
                    Horarios: @Html.DisplayFor(model => model.BarSchedule)</p>
                if (Model.Parking == true)
                {
                <p>
                    Valet parking</p>
                }
            }
            <p>
                Edad:</p>
            <ul style="list-style: none; margin-left: 25px; margin-top: 0; padding: 0">
                @{
                    if (Model.YoungAge == true)
                    {
                    <li>18-23</li>
                    }
                    if (Model.MidAge)
                    {
                    <li>24-29</li>
                    }
                    if (Model.MidAge)
                    {
                    <li>30 +</li>
                    }
                }
            </ul>
        </div>
        <div style="float: left; width: 340px">
            <br />
            <br />
            <p>
                Sitio web: @Html.DisplayFor(model => model.WebSite)</p>
            <p>
                Facebook: @Html.DisplayFor(model => model.Facebook)
            </p>
            <p>
                Twitter: @Html.DisplayFor(model => model.Twitter)
            </p>
        </div>
    </div>
    <div style="clear: both; width: 100%; height: 400px">
        <div style="float: left; width: 50%">
            <p style="text-align: justify">@Html.DisplayFor(model => model.Review)</p>
            <p style="color: yellow">
                Música:</p>
            <ul>
                @{
                    if (Model.Alternative == true)
                    {
                    <li>Alternativo</li>
                    }
                    if (Model.Rock == true)
                    {
                    <li>Rock</li>
                    }
                    if (Model.Electronic == true)
                    {
                    <li>Electrónica</li>
                    }
                    if (Model.HipHop == true)
                    {
                    <li>Hip-Hop</li>
                    }
                    if (Model.JazzBlues == true)
                    {
                    <li>Jazz & Blues</li>
                    }
                    if (Model.Reggae == true)
                    {
                    <li>Reggae</li>
                    }
                    if (Model.Trova == true)
                    {
                    <li>Trova</li>
                    }
                    if (Model.Lounge == true)
                    {
                    <li>Lounge</li>
                    }
                    if (Model.Banda == true)
                    {
                    <li>Banda</li>
                    }
                    if (Model.Pop == true)
                    {
                    <li>Pop</li>
                    }
                    if (Model.Disco == true)
                    {
                    <li>Disco</li>
                    }
                    if (Model.Tropical == true)
                    {
                    <li>Tropical</li>
                    }
                    if (Model.Dj == true)
                    {
                    <li>Dj</li>
                    }
                }
            </ul>
            <p style="color: yellow">
                Tipo:</p>
            <ul>
                @{
                    if (Model.Cerveceria == true)
                    {
                    <li>Cerveceria</li>
                    }
                    if (Model.Pub == true)
                    {
                    <li>Pub</li>
                    }
                    if (Model.Karaoke == true)
                    {
                    <li>Karaoke</li>
                    }
                    if (Model.Botanero == true)
                    {
                    <li>Botanero</li>
                    }
                    if (Model.GayBar == true)
                    {
                    <li>Gay</li>
                    }
                    if (Model.Mezcaleria == true)
                    {
                    <li>Mezcalería</li>
                    }
                    if (Model.RestaurantBar == true)
                    {
                    <li>Restaurant bar</li>
                    }
                    if (Model.CervezaArtesanal == true)
                    {
                    <li>Cerveza artesanal</li>
                    }
                    if (Model.Billar == true)
                    {
                    <li>Billar</li>
                    }
                    if (Model.OpenBar == true)
                    {
                    <li>Al aire libre</li>
                    }
                    if (Model.SportsBar == true)
                    {
                    <li>Sports bar</li>
                    }
                    if (Model.DanceFloor == true)
                    {
                    <li>Dance bar</li>
                    }
                }
            </ul>
            <p>
                Promoción de cumpleaños: @Html.DisplayFor(model => model.BirthdayPromotion)</p>
        </div>
        <div style="float: left; width: 50%">
            <div id="container">
                <div id="example">
                    <div id="slides">
                        <div class="slides_container">
                            <a id="mytext0"></a><a id="mytext1"></a><a id="mytext2"></a><a id="mytext3"></a>
                            <a id="mytext4"></a><a id="mytext5"></a><a id="mytext6"></a><a id="mytext7"></a>
                            <a id="mytext8"></a><a id="mytext9"></a>
                        </div>
                        <a href="#" class="prev">
                            <img src="../../Content/images/arrow-prevup.png" width="24" height="43" alt="Arrow Prev"></a>
                        <a href="#" class="next">
                            <img src="../../Content/images/arrow-nextup.png" width="24" height="43" alt="Arrow Next"></a>
                    </div>
                </div>
            </div>
            <p style="color: red; font-size: 14px">
                *Galería de muestra</p>
        </div>
    </div>
</div>
@*$(this).wrap('<a href="#" target="_self"><img src="' + $(this).attr(cars) + '" width="570" height="270" /></a>');*@
<div style="clear: both">
    <script type="text/javascript">
        $.getJSON("/Bar/JsonSearch", null, function (data) {

            $.each(data, function (index, barimg) {
                //                $("#mytext" + index).append(cars);

                $("#mytext" + index).append($("<a>",
                {
                    href: "#",
                    html: $("<img>", { src: barimg})
                }));

            });

        });
    </script>
</div>
<p>
    <a style="color: yellow" href="javascript:history.back(1)">Regresar</a>
</p>
@*<a href="#" title="145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!" target="_blank">
    <img src="http://slidesjs.com/examples/standard/img/slide-1.jpg" width="570" height="270"
        alt="Slide 1"></a> <a href="http://www.flickr.com/photos/stephangeyer/3020487807/"
            title="Taxi | Flickr - Photo Sharing!" target="_blank">
            <img src="http://slidesjs.com/examples/standard/img/slide-2.jpg" width="570" height="270"
                alt="Slide 2"></a> <a href="#" title="Happy Bokeh raining Day | Flickr - Photo Sharing!"
                    target="_blank">
                    <img src="http://slidesjs.com/examples/standard/img/slide-3.jpg" width="570" height="270"
                        alt="Slide 3" /></a> <a href="http://www.flickr.com/photos/b-tal/117037943/" title="We Eat Light | Flickr - Photo Sharing!"
                            target="_blank">
                            <img src="http://slidesjs.com/examples/standard/img/slide-4.jpg" width="570" height="270"
                                alt="Slide 4"></a> <a href="http://www.flickr.com/photos/bu7amd/3447416780/" title="“I must go down to the sea again, to the lonely sea and the sky; and all I ask is a tall ship and a star to steer her by.” | Flickr - Photo Sharing!"
                                    target="_blank">
                                    <img src="http://slidesjs.com/examples/standard/img/slide-5.jpg" width="570" height="270"
                                        alt="Slide 5"></a> <a href="http://www.flickr.com/photos/streetpreacher/2078765853/"
                                            title="twelve.inch | Flickr - Photo Sharing!" target="_blank">
                                            <img src="http://slidesjs.com/examples/standard/img/slide-6.jpg" width="570" height="270"
                                                alt="Slide 6"></a> <a href="http://www.flickr.com/photos/aftab/3152515428/" title="Save my love for loneliness | Flickr - Photo Sharing!"
                                                    target="_blank">
                                                    <img src="http://slidesjs.com/examples/standard/img/slide-7.jpg" width="570" height="270"
                                                        alt="Slide 7"></a>*@