@model UpdatedParty.Models.Bar
@{
    ViewBag.Title = Model.BarName;
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<div style="clear: both; width: 100%; color: white;">
    <div style="width: 100%; margin-top: 20px; height: 220px; border-bottom: 2px dotted #C1C4C9;">
        <div style="float: left; width: 340px">
            <div style="width: 100%;">
                @{
                    if (Model.BarType == true)
                    {
                    <h2 style="color: yellow; margin-bottom: 1px;">
                        Bar</h2>
                    }
                    else if (Model.Antro == true)
                    {
                    <h2 style="color: yellow; margin-bottom: 1px;">
                        Antro</h2>
                    }
                    else if (Model.After == true)
                    {
                    <h2 style="color: yellow; margin-bottom: 1px;">
                        After</h2>
                    }
                }
                <h1 style="color: yellow; margin: 1px;">@Html.DisplayFor(model => model.BarName)</h1>
            </div>
            <p>@Html.DisplayFor(model => model.Street)</p>
            <p>
                Col. @Html.DisplayFor(model => model.Cologne), @Html.DisplayFor(model => model.Township)
                @Html.DisplayFor(model => model.TState.StateName).</p>
            <br />
        </div>
        <div style="float: left; width: 340px">
            <br />
            <br />
            @{
                <p>
                    Reserva al: @Html.DisplayFor(model => model.PhoneNumber)</p>
                <p>
                    Horarios: @Html.DisplayFor(model => model.BarSchedule)</p>
                if (Model.Parking == true)
                {
                <p>
                    Valet parking</p>
                }
            }
        </div>
        <div style="float: left; width: 340px">
            <br />
            <br />
            <p>
                Sitio web: @Html.DisplayFor(model => model.WebSite)</p>
            <p>
                Facebook: @Html.DisplayFor(model => model.Facebook)
            </p>
            <p>
                Twitter: @Html.DisplayFor(model => model.Twitter)
            </p>
        </div>
    </div>
    <div style="clear: both; width: 100%; height: 400px">
        <div style="float: left; width: 50%">
            <p>@Html.DisplayFor(model => model.Review)</p>
            <p style="color: yellow">
                Música:</p>
            <ul>
                @{
                    if (Model.Alternative == true)
                    {
                    <li>Alternativo</li>
                    }
                    if (Model.Rock == true)
                    {
                    <li>Rock</li>
                    }
                    if (Model.Electronic == true)
                    {
                    <li>Electrónica</li>
                    }
                    if (Model.HipHop == true)
                    {
                    <li>Hip-Hop</li>
                    }
                    if (Model.JazzBlues == true)
                    {
                    <li>Jazz & Blues</li>
                    }
                    if (Model.Reggae == true)
                    {
                    <li>Reggae</li>
                    }
                    if (Model.Trova == true)
                    {
                    <li>Trova</li>
                    }
                    if (Model.Lounge == true)
                    {
                    <li>Lounge</li>
                    }
                    if (Model.Banda == true)
                    {
                    <li>Banda</li>
                    }
                    if (Model.Pop == true)
                    {
                    <li>Pop</li>
                    }
                    if (Model.Disco == true)
                    {
                    <li>Disco</li>
                    }
                    if (Model.Tropical == true)
                    {
                    <li>Tropical</li>
                    }
                    if (Model.Dj == true)
                    {
                    <li>Dj</li>
                    }
                }
            </ul>
            <p style="color: yellow">
                Tipo:</p>
            <ul>
                @{
                    if (Model.Cerveceria == true)
                    {
                    <li>Cerveceria</li>
                    }
                    if (Model.Pub == true)
                    {
                    <li>Pub</li>
                    }
                    if (Model.Karaoke == true)
                    {
                    <li>Karaoke</li>
                    }
                    if (Model.Botanero == true)
                    {
                    <li>Botanero</li>
                    }
                    if (Model.GayBar == true)
                    {
                    <li>Gay</li>
                    }
                    if (Model.Mezcaleria == true)
                    {
                    <li>Mezcalería</li>
                    }
                    if (Model.RestaurantBar == true)
                    {
                    <li>Restaurant bar</li>
                    }
                }
            </ul>
            <p>
                Promoción de cumpleaños: @Html.DisplayFor(model => model.BirthdayPromotion)</p>
        </div>
        <div style="float: left; width: 50%">
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Regresar", "Index", "Home", new { style = "color: yellow" })
</p>
