@using UpdatedParty.Helpers
@model PagedList.IPagedList<UpdatedParty.Models.StayUP>
@{
    ViewBag.Title = "Updated Party";
    
}
<div id="section1">
    <div style="float: left; width: 350px;">
        <div style="width: 100%; height: 90px;">
            <h2 style="color: black">
                WHAT'S UP</h2>
        </div>
        <div id="whatsup">
        </div>
        <div style="width: 100%;">
            <p style="font-size: .9em; text-align: justify">
                ¿Te ha pasado que no encuentras información relevante de <span style="font-weight: lighter;
                    font-family: 'bebas_neueregular'; color: yellow; font-size: 1.2em">antros y bares</span>
                para irte de fiesta? Y terminas en el mismo lugar o en uno que no fue de tu agrado.
                A nosotros sí, por eso creamos esta sección. En What’s UP encontraras una <span style="font-weight: lighter;
                    font-family: 'bebas_neueregular'; font-size: 1.2em">Cartelera</span> de <span style="font-weight: lighter;
                        font-family: 'bebas_neueregular'; color: yellow; font-size: 1.2em">eventos</span>
                y <span style="font-weight: lighter; font-family: 'bebas_neueregular'; color: yellow;
                    font-size: 1.2em">promociones</span> de la vida nocturna por el momento D.f.
                Tu puedes elegir qué fecha del calendario quieres consultar solo tienes que moverte
                con las flechas << >>. También puedes ver la información por delegación y buscar
                por colonia. Con esta información ya solo tendrás que elegir a qué lugar le caes
                dependiendo del <span style="font-weight: lighter; font-family: 'bebas_neueregular';
                    color: yellow; font-size: 1.2em">mood</span> con el que andes.
            </p>
        </div>
        <div class="tweetWrapp">
            <div style="width: 100%;">
                <img src="../../Content/images/twitter.jpg" alt="Twitter" />
            </div>
            <a class="twitter-timeline" href="https://twitter.com/updatedparty" data-widget-id="339452167284985857"
                data-chrome="nofooter transparent" height="500px">Tweets by @@updatedparty</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");
            </script>
        </div>
        <div style="clear: both">
        </div>
    </div>
    <div style="float: left; margin: 0 auto; width: 674px;">
        @using (Html.BeginForm())
        {
            <div style="width: 100%; height: 20px;">
            </div>
            <div style="width: 100%; height: 290px">
                <img style="border: none" src="../../Content/images/banner2.jpg" alt="Imagen" />
            </div>
            
            <div style="clear: both; width: 100%; border: none; line-height: 35px;">
                <div style="float: left; font-size: 14px">
                    <p style="color: #2F2F2F">
                        Delegación:
                    </p>
                </div>
                <div class="styled-select" style="float: left">
                    @Html.DropDownList("delegacion")
                </div>
                <div style="float: left; font-size: 14px">
                    <p style="color: #2F2F2F">
                        Colonia:
                    </p>
                </div>
                <div style="float: left">
                    @Html.TextBox("coloniaUP", null, new { style = "background-color: black; border: 1px solid #2F2F2F; color: yellow; height:25px; font-size: 16px; text-align: center" })
                </div>
                <div style="float: left; margin-left: 15px">
                    <input type="image" src="../../Content/images/buscar.png" alt="Enviar" /></div>
            </div>
            <br />
        }
        <br />
        <table class="supSearch">
            <tr style="background-color: #000; border-bottom: 1px solid #FFF;">
                <th colspan="3" style="background-color: #000; border-bottom: 1px solid #FFF;">
                    <span style="font-size: 1.3em">@Html.ActionLink("<<", "Index", new { next = Convert.ToInt32(ViewBag.Next) - 1 })</span>
                    <span style="font-weight: lighter; font-family: 'bebas_neueregular'; color: yellow;
                        font-size: 22px">Cartelera</span> <span style="font-weight: lighter; font-family: 'bebas_neueregular';
                            color: White; font-size: 22px">@ViewBag.NextDay</span> <span style="font-size: 1.3em;">@Html.ActionLink(">>", "Index", new { next = Convert.ToInt32(ViewBag.Next) + 1 })</span>
                    <br />
                    <br />
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td rowspan="5" style="text-align: left; width: 180px; height: 150px">
                        <br />
                        <a href="@item.EventBanner" target="_blank">
                            <svg width="200px" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                            <pattern id="@item.BarId-Evento" patternUnits="userSpaceOnUse" width="200px" height="200px">
                                <image xlink:href="@item.EventBanner" x="-20" y="0" width="140px" height="120px"></image>
                            </pattern>
                        </defs>
                        <circle cx="50" cy="50" r="45" fill= "url(#@item.BarId-Evento)" stroke="Yellow" stroke-width="2"  />
                        </svg>
                        </a>
                    </td>
                    <th style="text-align: left">@Html.ActionLink(item.Bar.BarName, "Index", "BarDetails", new { id = item.BarId, Name = item.Bar.BarName.ToSeoUrl() }, new { style = "color:#FFFF00;" })
                    </th>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        <p>
                            <span style="font-size: 1em; color: #666666">Evento:</span> @Html.DisplayFor(modelItem => item.EventName)</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        <p>
                            <span style="font-size: 1em; color: #666666">Promoción:</span> @Html.DisplayFor(modelItem => item.PromotionEvent)</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        <p>
                            <span style="font-size: 1em; color: #666666">Descripción:</span> @Html.DisplayFor(modelItem => item.EventDescription)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (item.PromotionBanner != null)
                        {
                            <a class="voyair" href="@item.PromotionBanner" target="_blank">Descuento</a>
                        }
                    </td>
                    <td>
                        <p>
                            @if (!String.IsNullOrEmpty(item.Bar.Twitter))
                            {
                                var tAccount = item.Bar.Twitter.Substring(20);
                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.updatedparty.com/" data-count="none" data-via="updatedparty" data-lang="es" data-text="Voy a ir a @item.EventName en @tAccount el @ViewBag.NextDay. Más información en ">
                                    Tweet</a>
                            }
                            else
                            { 
                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.updatedparty.com/" data-count="none" data-via="updatedparty" data-lang="es" data-text="Voy a ir a @item.EventName en @item.Bar.BarName el @ViewBag.NextDay. Más información en ">
                                    Tweet</a>
                            }
                            <a class="voyair" href="https://www.facebook.com/dialog/feed?app_id=479842812074467&link=@Html.Raw("http://www.updatedparty.com/" + item.EventBanner)&picture=@Html.Raw("http://www.updatedparty.com/" + item.EventBanner)&name=Voy a ir a @item.EventName en @item.Bar.BarName&caption=Promoci%C3%B3n: @item.PromotionEvent&description=Descripción: @item.EventDescription-@Convert.ToString(item.EventDate.Value.ToShortDateString())&redirect_uri=http://www.updatedparty.com/"
                                target="_blank">Voy a ir</a></p>
                    </td>
                </tr>
            }
        </table>
        <div id="siguiente">
            <p style="color: #2F2F2F">
                Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                de @Model.PageCount</p>
            @if (Model.HasPreviousPage)
            {
                @Html.ActionLink("<<", "Index", new { page = 1 })
                @Html.Raw(" ");
                @Html.ActionLink("Anterior", "Index", new { page = Model.PageNumber - 1 })
            }
            else
            {
                @:<<
        @Html.Raw(" ");
                @:Anterior |
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
            @if (Model.HasNextPage)
            {
                @Html.ActionLink("Siguiente", "Index", new { page = Model.PageNumber + 1 })
                @Html.Raw(" ");
                @Html.ActionLink(">>", "Index", new { page = Model.PageCount })
            }
            else
            {
                @:| Siguiente
        @Html.Raw(" ");
                @:>>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
        </div>
    </div>
    <div style="clear: both">
    </div>
</div>
<div id="section2">
    <div style="width: 100%; height: 70px;">
        <h2 style="color: black">
            Antros y Bares</h2>
    </div>
    <form method="get" action="@Url.Action("JsonSearch", "Home")" id="searchForm">
    <div style="float: left;">
        <div id="antrosbares">
        </div>
        <div style="float: left">
            <div style="width: 100%; border: none">
                <p style="color: #2F2F2F; vertical-align: middle">
                    Delegación:
                </p>
                <div id="antrosbares-select" style="float: left">
                    @Html.DropDownList("delegacion")
                </div>
                <div style="float: left">
                    <p style="margin: 0 0 0 10px">
                        @Html.TextBox("colonia", null, new { style = "vertical-align: middle" })
                        <input type="image" src="../../Content/images/boton-enviar.png" alt="Enviar" style="vertical-align: middle" />
                    </p>
                </div>
                <div style="clear: both">
                </div>
            </div>
            <table class="tAdvancedSearch" style="border-spacing: 10px 0">
                <tr>
                    <td style="background-color: transparent; text-align: center;">
                        <p style="color: White; font-size: 20px; margin: 0; font-family: bebas_neueregular">
                            ¿DE QUÉ TRAES GANAS?</p>
                    </td>
                    <td>
                        @*<div class="criterion">
                            <p>
                                Estacionamiento
                            </p>
                            <input type="checkbox" id="checkbox_1_5" class="regular-checkbox" name="estacionamiento"
                                disabled="disabled" />
                            <label for="checkbox_1_5">
                            </label>
                        </div>*@
                        <div class="criterion">
                            <p>
                                Evento
                            </p>
                            <input type="checkbox" id="checkbox_1_4" class="regular-checkbox" name="evento" disabled="disabled" />
                            <label for="checkbox_1_4">
                            </label>
                        </div>
                    </td>
                    <td style="background-color: transparent">
                        <div class="criterion">
                            <p style="color: White; margin: 5px 1px 5px 1px;">
                                ----Género musical----
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Trova
                            </p>
                            <input type="checkbox" id="checkbox_1_19" class="regular-checkbox" name="trova" disabled="disabled" />
                            <label for="checkbox_1_19">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="criterion">
                            <p>
                                Antro
                            </p>
                            <input type="checkbox" id="checkbox_1_2" class="regular-checkbox" name="antro" />
                            <label for="checkbox_1_2">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Promoción
                            </p>
                            <input type="checkbox" id="checkbox_1_3" class="regular-checkbox" name="promocion"
                                disabled="disabled" />
                            <label for="checkbox_1_3">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Alternativo
                            </p>
                            <input type="checkbox" id="checkbox_1_13" class="regular-checkbox" name="alternativo"
                                disabled="disabled" />
                            <label for="checkbox_1_13">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Lounge
                            </p>
                            <input type="checkbox" id="checkbox_1_20" class="regular-checkbox" name="lounge"
                                disabled="disabled" />
                            <label for="checkbox_1_20">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="criterion">
                            <p>
                                After</p>
                            <input type="checkbox" id="checkbox_1_6" class="regular-checkbox" name="after" />
                            <label for="checkbox_1_6">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Karaoke
                            </p>
                            <input type="checkbox" id="checkbox_1_8" class="regular-checkbox" name="karaoke"
                                disabled="disabled" />
                            <label for="checkbox_1_8">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Rock
                            </p>
                            <input type="checkbox" id="checkbox_1_14" class="regular-checkbox" name="rock" disabled="disabled" />
                            <label for="checkbox_1_14">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Banda
                            </p>
                            <input type="checkbox" id="checkbox_1_21" class="regular-checkbox" name="banda" disabled="disabled" />
                            <label for="checkbox_1_21">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="criterion">
                            <p>
                                Bar
                            </p>
                            <input type="checkbox" id="checkbox_1_1" class="regular-checkbox" name="bar" />
                            <label for="checkbox_1_1">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Botanero
                            </p>
                            <input type="checkbox" id="checkbox_1_9" class="regular-checkbox" name="botanero"
                                disabled="disabled" />
                            <label for="checkbox_1_9">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Electrónica
                            </p>
                            <input type="checkbox" id="checkbox_1_15" class="regular-checkbox" name="electro"
                                disabled="disabled" />
                            <label for="checkbox_1_15">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Pop
                            </p>
                            <input type="checkbox" id="checkbox_1_22" class="regular-checkbox" name="pop" disabled="disabled" />
                            <label for="checkbox_1_22">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="criterion">
                            <p>
                                Pub
                            </p>
                            <input type="checkbox" id="checkbox_1_7" class="regular-checkbox" name="pub" />
                            <label for="checkbox_1_7">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Gay Bar</p>
                            <input type="checkbox" id="checkbox_1_10" class="regular-checkbox" name="gaybar"
                                disabled="disabled" />
                            <label for="checkbox_1_10">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Hip-Hop
                            </p>
                            <input type="checkbox" id="checkbox_1_16" class="regular-checkbox" name="hiphop"
                                disabled="disabled" />
                            <label for="checkbox_1_16">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Disco
                            </p>
                            <input type="checkbox" id="checkbox_1_23" class="regular-checkbox" name="disco" disabled="disabled" />
                            <label for="checkbox_1_23">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="criterion">
                            <p>
                                Restaurant Bar
                            </p>
                            <input type="checkbox" id="checkbox_1_25" class="regular-checkbox" name="restaurant" />
                            <label for="checkbox_1_25">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Mezcalería
                            </p>
                            <input type="checkbox" id="checkbox_1_11" class="regular-checkbox" name="mezcaleria"
                                disabled="disabled" />
                            <label for="checkbox_1_11">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Jazz/Blues
                            </p>
                            <input type="checkbox" id="checkbox_1_17" class="regular-checkbox" name="jazzblues"
                                disabled="disabled" />
                            <label for="checkbox_1_17">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Tropical
                            </p>
                            <input type="checkbox" id="checkbox_1_24" class="regular-checkbox" name="tropical"
                                disabled="disabled" />
                            <label for="checkbox_1_24">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: transparent">
                        <div class="criterion">
                            <p style="color: White; margin: 5px 1px 5px 1px;">
                                ---------------------------
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Cervecería
                            </p>
                            <input type="checkbox" id="checkbox_1_12" class="regular-checkbox" name="cerveceria"
                                disabled="disabled" />
                            <label for="checkbox_1_12">
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="criterion">
                            <p>
                                Reggae
                            </p>
                            <input type="checkbox" id="checkbox_1_18" class="regular-checkbox" name="reggae"
                                disabled="disabled" />
                            <label for="checkbox_1_18">
                            </label>
                        </div>
                    </td>
                    <td style="background-color: transparent">
                        <div class="criterion">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear: both">
        </div>
    </div>
    <p style="font-size: .9em; text-align: justify">
        Esta sección te ayudara a encontrar <span style="font-weight: lighter; font-family: 'bebas_neueregular';
            color: red; font-size: 1.2em">antros, bares</span> y <span style="font-weight: lighter;
                font-family: 'bebas_neueregular'; color: red; font-size: 1.2em">afters</span>
        con características que tú buscas. Simplemente selecciona los checkbox y te mostraremos
        opciones que cumplan con estas características. Cuando tú seleccionas un antro,
        bar o after te mostramos información relevante, como la dirección, el género musical,
        horarios, promociones y próximos eventos etc.</p>
    <div id="advancedSearch">
    </div>
    <div style="float: left; width: 100%;">
        <div style="width: 100%; height: 80px">
            <div style="clear: both; height: 200px">
                <div id="searchResults" style="float: left;">
                </div>
            </div>
            <script id="searchTemplate" type="text/x-jquery-tmpl">
                    <div style="float:left; width:100%; margin:10px; background: url(../../Content/images/Bbolita-blanca.png) no-repeat left top 7px;"><a style='margin-left:14px; color: red' href='@HttpUtility.UrlDecode(Url.Action("Index", "BarDetails", new { id = "${BarID}", Name = "${BarName}" }))'>${BarName}</a></div>
            </script>
        </div>
        <div style="clear: both">
        </div>
        <p style="font-size: 14px">
            * Seguimos trabajando en la búsqueda avanzada, por el momento solo puedes realizar
            búsquedas de <span style="color: red;">bar</span>, <span style="color: red;">antro</span>
            y <span style="color: red;">after</span>. Pronto estará <span style="color: yellow;
                font-size: 22px; font-family: bebas_neueregular">UP</span></p>
    </div>
    </form>
    <div style="width: 100%">
        <img src="../../Content/images/recomendados.png" alt="Recomendaciones" />
    </div>
    <div style="width: 1024px; height: 380px">
        <div style="width: 336px; float: left">
            <div style="width: 100%; text-align: center">
                <a href="http://www.updatedparty.com/iu-condesa/32" target="_self">
                    <img src="../../Content/Promoted/iuPrincipal.jpg" alt="UI Condesa" style="border: solid 2px white;
                        max-width: 336px; max-height: 219px;" /></a>
            </div>
            <div style="width: 100%; text-align: justify; color: white">
                <p style="font-family: bebas_neueregular; font-size: 22px; margin-top: 0;">
                    <a href="http://www.updatedparty.com/iu-condesa/32" target="_self" style="color: red">
                        IU Condesa</a></p>
                <p>
                    Este pequeño bar está próximo a cumplir 10 años en la colonia Condesa, se renueva
                    constantemente para ofrecer lo último en coctelería, gastronomía y música en un
                    entorno moderno. Aquí destacan los martinis, excelentes DJ's y sus famosos martes
                    de fiesta brasileña. Además, cuenta con una zona V.I.P. que ofrece la intimidad
                    necesaria para pequeñas reuniones de amigos sin aislarlos del resto. Es común encontrar
                    artistas y empresarios al último grito de la moda conviviendo y bailando al ritmo
                    de las más recientes propuestas musicales, pop en su mayoría.</p>
            </div>
        </div>
        <div style="width: 336px; margin-left: 5px; float: left">
            <div style="width: 100%; text-align: center">
                <a href="http://www.updatedparty.com/sal-n-malafama/28" target="_self">
                    <img src="../../Content/Promoted/promotedmalafama.jpg" alt="Salón Malafama" style="max-width: 336px;
                        max-height: 219px; border: 2px solid white" /></a>
            </div>
            <div style="width: 100%; text-align: justify; color: white">
                <p style="font-family: bebas_neueregular; font-size: 22px; margin-top: 0;">
                    <a href="http://www.updatedparty.com/sal-n-malafama/28" target="_self" style="color: red">
                        Salón Malafama</a></p>
                <p>
                    Bar-billar ubicado en el corazón de la Condesa. Es un espacio agradable para pasar
                    el rato con los amigos y disfrutar de unas cervezas, especialmente si gustas del
                    fútbol, ya que transmiten los partidos en vivo. También, si te gusta el arte, puedes
                    disfrutar de un interesante concepto de galería donde frecuentemente exhiben obras
                    de artistas en crecimiento. Aunque sin duda lo que realmente lo distingue son sus
                    excelentes mesas de billar -son un verdadero lujo. Otra ventaja es que, si decides
                    seguirla, tienes muchas opciones para irte de antro gracias a su buena ubicación.</p>
            </div>
        </div>
        <div style="width: 336px; margin-left: 5px; float: left">
            <div style="width: 100%; text-align: center">
                <a href="http://updatedparty.com/black-horse/22" target="_self">
                    <img src="../../Content/Promoted/promotedblackhorse.jpg" alt="Black Horse" style="max-width: 336px;
                        max-height: 223px" /></a>
            </div>
            <div style="width: 100%; text-align: justify; color: white">
                <p style="font-family: bebas_neueregular; font-size: 22px; margin-top: 0;">
                    <a href="http://updatedparty.com/black-horse/22" target="_self" style="color: red">Black
                        Horse</a></p>
                <p>
                    Sin rodeos, nos gusta este pub estilo inglés por su música, ambiente y promociones.
                    La mayor parte de la semana se presentan excelentes bandas independientes de diversos
                    géneros como jazz, blues, hip hop, funk, indie y britpop. Encontrarás un ambiente
                    muy relajado y alternativo -olvídate de personas pretensiosas- y disfruta de la
                    buena música. Por último, las promociones no paran toda la semana con descuentos
                    de 2x1 y noches de chicas donde ellas sólo pagan 20 por sus bebidas, además, la
                    entrada siempre es libre. Si disfrutas de esto, sin duda es "el lugar" para echar
                    tragos entre semana.</p>
            </div>
        </div>
    </div>
    <div style="clear: both">
    </div>
</div>
<div id="section3" style="clear: both; width: 100%; border-bottom: 2px dotted #C1C4C9;">
    <br />
    <br />
    <br />
    <br />
    <div style="width: 100%;">
        <div id="blog">
        </div>
        <div style="float: left; width: 345px;">
            <img src="../../Content/images/energyfloors-small.jpg" alt="Energy floors" />
        </div>
        <div style="float: left; width: 335px; height: 210px; text-align: justify">
            <p style="font-size: 22px; font-family: bebas_neueregular; color: #66ffcc">
                Antros Sustentables</p>
            <p>
                La posibilidad de salir de antro y ser al mismo tiempo amigable con el ambiente
                aumenta cada día gracias a la piezoelectricidad. Con ella se crean pistas de baile
                con las que los antros pueden autoabastecerse de energía limpia para encender la
                música y luces del lugar hasta que la gente pare de bailar.
                @Html.ActionLink("Leer más", "AntroSustentable", null, new { style = "color: #66ffcc" })
            </p>
        </div>
        <div style="clear: both">
        </div>
    </div>
    <div id="ArtRecientes">
    </div>
    <div style="width: 100%;">
        <div style="padding: 2px; width: 335px; float: left">
            <div style="float: left; width: 345px; height: 195px;">
                <img src="../../Content/images/Bailar.jpg" alt="¿Bailamos?" />
            </div>
            <div style="float: left; width: 300px; height: 210px; text-align: justify">
                <p style="font-size: 22px; font-family: bebas_neueregular; color: #66ffcc">
                    ¿Bailamos?</p>
                <p>
                    A muchos nos encanta bailar y hacerlo bien tiene numerosas ventajas. Pero… por qué
                    lo hacemos. ¿Además de las sensaciones positivas que produce, existe alguna razón
                    biológica o evolutiva que nos mueve –casi instintivamente– al ritmo de la música?
                    @Html.ActionLink("Leer más", "Bailamos", null, new { style = "color: #66ffcc" })
                </p>
            </div>
        </div>
        <div style="padding: 2px; width: 335px; float: left">
            <div style="width: 335px; height: 195px;">
                <img src="../../Content/images/whisky.jpg" alt="Whisky" />
            </div>
            <div style="width: 300px; height: 210px; text-align: justify">
                <p style="font-size: 22px; font-family: bebas_neueregular; color: #66ffcc">
                    ¿Whisky o whiskey?</p>
                <p>
                    Tomando unos tragos en el Diente de Oro –un muy buen whisky/ey bar en la Condesa–
                    notamos que en algunas ocasiones la palabra whisky/ey aparece escrita con “e” y
                    en otras no. Si eres fanático de esta bebida, seguro ya sabes a qué se debe, pero
                    si no, ahora te lo decimos. @Html.ActionLink("Leer más", "Whiskey", null, new { style = "color: #66ffcc" })
                </p>
            </div>
        </div>
        <div style="padding: 2px; width: 335px; float: left">
            <div id="headache">
            </div>
            <div style="width: 300px; height: 210px; text-align: justify">
                <p style="font-size: 22px; font-family: bebas_neueregular; color: #66ffcc">
                    ¿Por qué duele la cabeza después de una borrachera?</p>
                <p>
                    Si alguna vez se te han pasado los tragos seguramente los efectos de la resaca o
                    “cruda”, como decimos en México, te son familiares. Uno de los más terribles –tal
                    vez el más terrible solo detrás de la cruda moral– es el dolor de cabeza. @Html.ActionLink("Leer más", "Headache", null, new { style = "color: #66ffcc" })
                </p>
            </div>
        </div>
    </div>
    <div style="clear: both">
    </div>
</div>
<div style="clear: both; width: 100%; height: 50px">
</div>
<!-- this function validates the newsletter form -->
<script type="text/javascript">
    function validateForm() {
        var e = document.forms["newsForm"]["newsletterEmail"].value;
        if (e == null || e == "") {
            alert("Email requerido");
            return false;
        }
        var atpos = e.indexOf('@@');
        var dotpos = e.lastIndexOf(".");
        if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= e.length) {
            alert("Email inválido");
            return false;
        }
    }
</script>
<!-- Twitter share button -->
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
