@using UpdatedParty.Helpers
@model PagedList.IPagedList<UpdatedParty.Models.StayUP>
@{
    ViewBag.Title = "Updated Party";
    
}
<div id="section1">
    <div style="float: left; width: 350px">
        <div style="width: 100%; height: 90px;">
            <h2 style="color: black">
                WHAT'S UP</h2>
        </div>
        <div id="whatsup">
        </div>
        <div style="width: 100%; height: 60px">
        </div>
        <div class="tweetWrapp">
            <div style="width: 100%;">
                @*<span style="font-size: 22px; font-family: 'Intro'; color: White;">Twitter</span>*@
                <img src="../../Content/images/twitter.jpg" />
            </div>
            @*<a class="twitter-timeline" href="https://twitter.com/updatedparty" data-widget-id="290690057470361600">
                Tweets by @@updatedparty</a>
            <script>                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>*@
            <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script type="text/javascript">
                new TWTR.Widget({
                    version: 2,
                    type: 'profile',
                    rpp: 8,
                    interval: 30000,
                    width: 300,
                    height: 300,
                    theme: {
                        shell: {
                            background: 'transparent',
                            color: '#FFF'
                        },
                        tweets: {
                            background: 'transparent',
                            color: '#FFF',
                            links: '#FFFF00'
                        }
                    },
                    features: {
                        scrollbar: false,
                        loop: true,
                        live: true,
                        hashtags: true,
                        timestamp: false,
                        avatars: false,
                        behavior: 'all'
                    }
                }).render().setUser('@@updatedparty').start();
            </script>
        </div>
    </div>
    <div style="float: left; margin: 0 auto; width: 674px;">
        @using (Html.BeginForm())
        {
            <div style="width: 100%; height: 20px;">
            </div>
            <div style="width: 100%; height: 290px">
                <img style="border: none" src="../../Content/images/banner2.jpg" alt="Imagen" />
            </div>
            
            <div style="clear: both; width: 100%; border: none; line-height: 35px;">
                <div style="float: left; font-size: 14px">
                    <p style="color: #2F2F2F">
                        Delegación:
                    </p>
                </div>
                <div class="styled-select" style="float: left">
                    @Html.DropDownList("delegacion")
                </div>
                <div style="float: left; font-size: 14px">
                    <p style="color: #2F2F2F">
                        Colonia:
                    </p>
                </div>
                <div style="float: left">
                    @Html.TextBox("coloniaUP", null, new { style = "background-color: black; border: 1px solid #2F2F2F; color: yellow; height:25px; font-size: 16px; text-align: center" })
                </div>
                <div style="float: left; margin-left: 15px">
                    <input type="image" src="../../Content/images/boton-enviar.png" value="buscar" /></div>
            </div>
            <br />
        }
        <br />
        <table class="supSearch">
            <tr>
                <th colspan="3" style="background-color: #000; border-bottom: 1px solid #FFF;">
                    <span style="font-weight: lighter; font-family: 'bebasneue'; color: White; font-size: 22px">@DateTime.Now.ToString("dddd")
                        @DateTime.Now.Day de @DateTime.Now.ToString("MMMM")</span>
                    <br />
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>@Html.ActionLink("Evento y promoción", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { style = "color:#FFFF00;" })
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@Html.ActionLink(item.Bar.BarName, "BarDetails", "Bar", new { id = item.BarId, Name = item.Bar.BarName.ToSeoUrl() }, new { style = "color:#FFFF00;" })
                    </th>
                    <td>
                        <p>@Html.DisplayFor(modelItem => item.PromotionEvent)</p>
                    </td>
                </tr>
            }
        </table>
        <div id="siguiente">
            <p style="color: #2F2F2F">
                Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                de @Model.PageCount</p>
            @if (Model.HasPreviousPage)
            {
                @Html.ActionLink("<<", "Index", new { page = 1 })
                @Html.Raw(" ");
                @Html.ActionLink("Anterior", "Index", new { page = Model.PageNumber - 1 })
            }
            else
            {
                @:<<
        @Html.Raw(" ");
                @:Anterior |
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            }
            @if (Model.HasNextPage)
            {
                @Html.ActionLink("Siguiente", "Index", new { page = Model.PageNumber + 1 })
                @Html.Raw(" ");
                @Html.ActionLink(">>", "Index", new { page = Model.PageCount })
            }
            else
            {
                @:| Siguiente
        @Html.Raw(" ");
                @:>>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            }
        </div>
    </div>
</div>
<div id="section2" style="width: 100%; height: auto; border-bottom: 2px dotted #C1C4C9;">
    <div style="width: 100%; height: 70px;">
        <h2 style="color: black">
            Antros y Bares</h2>
    </div>
    <form method="get" action="@Url.Action("JsonSearch", "Home")" id="searchForm">
    <div style="float: left;">
        <div id="antrosbares">
        </div>
        <div style="float: left; width: 724px;">
            <div style="width: 100%; height: 80px">
                <div style="clear: both; height: 200px">
                    <div style="clear: both; width: 100%; text-align: center">
                        <p style="font-weight: lighter; font-family: 'bebasneue'; color: White; font-size: 22px">
                            Resultados</p>
                    </div>
                    <div id="searchResults" style="float: left;">
                    </div>
                </div>
                <script id="searchTemplate" type="text/x-jquery-tmpl">
                    <div style="float:left; margin:10px; background: url(../../Content/images/Bbolita-blanca.png) no-repeat left top 7px;"><a style='margin-left:14px; color: red' href='@HttpUtility.UrlDecode(Url.Action("BarDetails", "Bar", new { id = "${BarID}", Name = "${BarName}" }))'>${BarName}</a></div>
                </script>
            </div>
        </div>
    </div>
    <div id="advancedSearch">
    </div>
    <div style="width: 100%; border: none">
        <div style="float: left">
            <p style="color: #2F2F2F">
                Delegación:
            </p>
        </div>
        <div id="antrosbares-select" style="float: left">
            @Html.DropDownList("delegacion")
        </div>
        <div style="float: left">
            @Html.TextBox("colonia")
        </div>
        <div style="float: left">
            <input type="image" src="../../Content/images/boton-enviar.png" value="buscar" /></div>
    </div>
    <table class="tAdvancedSearch" style="border-spacing: 10px 0">
        <tr>
            <td style="background-color: transparent; text-align: center;">
                <p style="color: White; font-size: 20px; margin: 0; font-family: bebasneue">
                    ¿DE QUÉ TRAES GANAS?</p>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Estacionamiento
                    </p>
                    <input type="checkbox" id="checkbox_1_5" class="regular-checkbox" name="estacionamiento"
                        disabled="disabled" />
                    <label for="checkbox_1_5">
                    </label>
                </div>
            </td>
            <td style="background-color: transparent">
                <div style="width: 200px; height: 20px;">
                    <p style="color: White; margin: 5px 1px 5px 1px;">
                        ------Género musical-------
                    </p>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Trova
                    </p>
                    <input type="checkbox" id="checkbox_1_19" class="regular-checkbox" name="trova" disabled="disabled" />
                    <label for="checkbox_1_19">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="criterion">
                    <p>
                        Bar
                    </p>
                    <input type="checkbox" id="checkbox_1_1" class="regular-checkbox" name="bar" />
                    <label for="checkbox_1_1">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Pub
                    </p>
                    <input type="checkbox" id="checkbox_1_7" class="regular-checkbox" name="pub" disabled="disabled" />
                    <label for="checkbox_1_7">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Alternativo
                    </p>
                    <input type="checkbox" id="checkbox_1_13" class="regular-checkbox" name="alternativo"
                        disabled="disabled" />
                    <label for="checkbox_1_13">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Lounge
                    </p>
                    <input type="checkbox" id="checkbox_1_20" class="regular-checkbox" name="lounge"
                        disabled="disabled" />
                    <label for="checkbox_1_20">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="criterion">
                    <p>
                        Antro
                    </p>
                    <input type="checkbox" id="checkbox_1_2" class="regular-checkbox" name="antro" />
                    <label for="checkbox_1_2">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Karaoke
                    </p>
                    <input type="checkbox" id="checkbox_1_8" class="regular-checkbox" name="karaoke"
                        disabled="disabled" />
                    <label for="checkbox_1_8">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Rock
                    </p>
                    <input type="checkbox" id="checkbox_1_14" class="regular-checkbox" name="rock" disabled="disabled" />
                    <label for="checkbox_1_14">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Banda
                    </p>
                    <input type="checkbox" id="checkbox_1_21" class="regular-checkbox" name="banda" disabled="disabled" />
                    <label for="checkbox_1_21">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="criterion">
                    <p>
                        After</p>
                    <input type="checkbox" id="checkbox_1_6" class="regular-checkbox" name="after" />
                    <label for="checkbox_1_6">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Botanero
                    </p>
                    <input type="checkbox" id="checkbox_1_9" class="regular-checkbox" name="botanero"
                        disabled="disabled" />
                    <label for="checkbox_1_9">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Electrónica
                    </p>
                    <input type="checkbox" id="checkbox_1_15" class="regular-checkbox" name="electro"
                        disabled="disabled" />
                    <label for="checkbox_1_15">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Pop
                    </p>
                    <input type="checkbox" id="checkbox_1_22" class="regular-checkbox" name="pop" disabled="disabled" />
                    <label for="checkbox_1_22">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td style="background-color: transparent">
                <div style="width: 200px; height: 20px;">
                    <p style="color: White; margin: 5px 1px 5px 1px;">
                        --------------------------------
                    </p>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Gay Bar</p>
                    <input type="checkbox" id="checkbox_1_10" class="regular-checkbox" name="gaybar"
                        disabled="disabled" />
                    <label for="checkbox_1_10">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Hip-Hop
                    </p>
                    <input type="checkbox" id="checkbox_1_16" class="regular-checkbox" name="hiphop"
                        disabled="disabled" />
                    <label for="checkbox_1_16">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Disco
                    </p>
                    <input type="checkbox" id="checkbox_1_23" class="regular-checkbox" name="disco" disabled="disabled" />
                    <label for="checkbox_1_23">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="criterion">
                    <p>
                        Evento
                    </p>
                    <input type="checkbox" id="checkbox_1_4" class="regular-checkbox" name="evento" disabled="disabled" />
                    <label for="checkbox_1_4">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Mezcalería
                    </p>
                    <input type="checkbox" id="checkbox_1_11" class="regular-checkbox" name="mezcaleria"
                        disabled="disabled" />
                    <label for="checkbox_1_11">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Jazz/Blues
                    </p>
                    <input type="checkbox" id="checkbox_1_17" class="regular-checkbox" name="jazzblues"
                        disabled="disabled" />
                    <label for="checkbox_1_17">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Tropical
                    </p>
                    <input type="checkbox" id="checkbox_1_24" class="regular-checkbox" name="tropical"
                        disabled="disabled" />
                    <label for="checkbox_1_24">
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="criterion">
                    <p>
                        Promoción
                    </p>
                    <input type="checkbox" id="checkbox_1_3" class="regular-checkbox" name="promocion"
                        disabled="disabled" />
                    <label for="checkbox_1_3">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Cervecería
                    </p>
                    <input type="checkbox" id="checkbox_1_12" class="regular-checkbox" name="cerveceria"
                        disabled="disabled" />
                    <label for="checkbox_1_12">
                    </label>
                </div>
            </td>
            <td>
                <div class="criterion">
                    <p>
                        Reggae
                    </p>
                    <input type="checkbox" id="checkbox_1_18" class="regular-checkbox" name="reggae"
                        disabled="disabled" />
                    <label for="checkbox_1_18">
                    </label>
                </div>
            </td>
            <td style="background-color: transparent">
                <div style="width: 200px; height: 20px;">
                </div>
            </td>
        </tr>
    </table>
    <p style="font-size: 14px">
        * Seguimos trabajando en la búsqueda avanzada, por el momento solo puedes realizar
        búsquedas de <span style="color: red;">bar</span>, <span style="color: red;">antro</span>
        y <span style="color: red;">after</span>. Pronto estará <span style="color: yellow;
            font-size: 22px; font-family: bebasneue">UP</span></p>
    </form>
    <div style="width: 100%">
        <img src="../../Content/images/recomendados.png" alt="Recomendaciones" />
    </div>
    <div style="width: 1024px; height: 380px">
        <div style="width: 341px; float: left">
            <div style="width: 100%; text-align: center">
                <img src="../../Content/images/Par227BarAndGrill_small.jpg" alt="Par 227 Bar & Grill" />
            </div>
            <div style="width: 100%; text-align: justify; color: #666666">
                <p style="font-family: bebasneue; font-size: 22px; margin-top: 0;">
                    <a href="http://www.updatedparty.com/Bar/BarDetails/15" target="_self">Par 227 - Bar
                        & Grill</a></p>
                <p style="color: inherit">
                    Cuando vayas al Par 227 no te debes perder los <span style="font-family: bebasneue;
                        font-size: 18px">toritos</span>, la <span style="font-family: bebasneue; font-size: 18px">
                            limonada eléctrica</span> y la bebida de la casa, el <span style="font-family: bebasneue;
                                font-size: 18px">Par 227</span>. Su barman tiene más de 34 años de experiencia.</p>
            </div>
        </div>
        <div style="width: 335px; margin-left: 5px; float: left">
            <div style="width: 100%; text-align: center">
                <img src="../../Content/images/margaritas-sunset.jpg" alt="Sunset" />
            </div>
            <div style="width: 100%; text-align: justify; color: #666666">
                <p style="font-family: bebasneue; font-size: 22px; margin-top: 0;">
                    <a href="http://www.updatedparty.com/Bar/BarDetails/5" target="_self">Sunset</a></p>
                <p style="color: inherit">
                    La especialidad del Sunset son sus margaritas, pero mejor aún, siempre están en
                    promoción.</p>
            </div>
        </div>
        <div style="width: 340px; float: left">
            <div style="width: 100%; text-align: center">
            </div>
        </div>
    </div>
</div>
<div id="section3" style="clear: both; width: 100%; height: 720px; border-bottom: 2px dotted #C1C4C9;">
    <br />
    <br />
    <br />
    <br />
    <div style="width: 100%;">
        <div id="blog">
        </div>
        <div style="float: left; width: 345px; height: 195px;">
            <img src="../../Content/images/whisky.jpg" alt="Whisky" />
        </div>
        <div style="float: left; width: 300px; height: 210px; text-align: justify">
            <p style="font-size: 22px; font-family: bebasneue; color: #66ffcc">
                ¿Whisky o whiskey?</p>
            <p>
            Tomando unos tragos en el Diente de Oro –un muy buen whisky/ey bar en la Condesa–
            notamos que en algunas ocasiones la palabra whisky/ey aparece escrita con “e” y
            en otras no. Si eres fanático de esta bebida, seguro ya sabes a qué se debe, pero
            si no, ahora te lo decimos. @Html.ActionLink("Leer más", "Whiskey", null, new { style = "color: #66ffcc" })
        </div>
    </div>
    <div id="ArtRecientes">
    </div>
    <div style="width: 100%">
        <div id="headache">
        </div>
        <div style="float: left; width: 300px; height: 210px; text-align: justify">
            <p style="font-size: 22px; font-family: bebasneue; color: #66ffcc">
                ¿Por qué duele la cabeza después de una borrachera?</p>
            <p>
            Si alguna vez se te han pasado los tragos seguramente los efectos de la resaca o
            “cruda”, como decimos en México, te son familiares. Uno de los más terribles –tal
            vez el más terrible solo detrás de la cruda moral– es el dolor de cabeza. @Html.ActionLink("Leer más", "Headache", null, new { style = "color: #66ffcc" })
        </div>
    </div>
</div>
<div id="section4" style="width: 100%; height: 720px; color: white; border-bottom: 2px dotted #C1C4C9;">
    <br />
    <br />
    <br />
    <br />
    <div>
        <div id="contacto">
        </div>
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
        {
            <div style="float: left; width: 339px">
                <div style="float: left; width: 130px; height: 58px">
                </div>
                <div id="contactoTitle">
                </div>
                <div style="clear: both; width: 100%; height: 30px">
                </div>
                <div style="float: left; width: 80px">
                    Nombre:
                </div>
                <div style="float: left; width: 250px">
                    @Html.TextBox("nombre", null, new { style = "color: #5E148D; width: 250px; height:25px; font-size: 16px; text-align: center" })
                </div>
                <div style="clear: both; width: 100%; height: 10px">
                </div>
                <div style="float: left; width: 80px">
                    Email:
                </div>
                <div style="float: left; width: 250px">
                    @Html.TextBox("email", null, new { style = "color: #5E148D; width: 250px; height:25px; font-size: 16px; text-align: center" })
                </div>
                <div style="clear: both; width: 100%; height: 10px">
                </div>
                <div style="float: left; width: 80px">
                    Asunto:
                </div>
                <div style="float: left; width: 250px">
                    @Html.TextArea("emailMessage", null, new { style = "color: #5E148D; width: 250px; max-width: 250px; height: 120px; max-height: 150px; font-size: 16px; text-align: center" })
                </div>
                <div style="clear: both; width: 100%; text-align: right">
                    <input type="image" src="../../Content/images/boton-enviar.png" value="Enviar" />
                </div>
            </div>
        }
        @using (Html.BeginForm("Suscribe", "Home", FormMethod.Post, new { name = "newsForm", onsubmit = "return validateForm()" }))
        {
            <div style="float: left; width: 365px; margin-left: 20px">
                <div id="newsLetter">
                </div>
                <div style="clear: both; width: 100%; height: 30px">
                </div>
                <div style="float: left; width: 250px">
                    @Html.TextBox("newsletterEmail", null, new { style = "color: #5E148D; width: 250px; height:28px; font-size: 16px; text-align: center" })
                </div>
                <div style="float: left; width: 83px; margin-left: 10px; text-align: right">
                    <input type="image" src="../../Content/images/boton-suscribete.png" value="Suscríbete" />
                </div>
                <div style="clear: both; width: 100%; height: 30px">
                </div>
                <div style="width: 100%;">
                    <a href="https://www.facebook.com/updatedparty?ref=ts&fref=ts" target="_blank">
                        <div id="facebook" onclick="">
                        </div>
                    </a><a href="https://twitter.com/updatedparty" target="_blank">
                        <div id="twitter">
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<div style="clear: both; width: 100%; height: 50px">
</div>
<!-- this function validates the newsletter form -->
<script type="text/javascript">
    function validateForm() {
        var e = document.forms["newsForm"]["newsletterEmail"].value;
        if (e == null || e == "") {
            alert("Email requerido");
            return false;
        }
        var atpos = e.indexOf('@@');
        var dotpos = e.lastIndexOf(".");
        if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= e.length) {
            alert("Email inválido");
            return false;
        }
    }
</script>
