@model PagedList.IPagedList<UpdatedParty.Models.StayUP>
@{
    ViewBag.Title = "Home Page";
    
}
@*<h2>@ViewBag.Message</h2>*@
<div id="section1">
    <br />
    <br />
    <br />
    <br />
    <div style="float: left; width: 350px">
        <div id="whatsup">
        </div>
        <div class="tweetWrapp">
            <div style="width: 100%; border-bottom: 1px solid #FFF;">
                <span style="font-size: 22px; font-family: 'Intro'; color: White;">Twitter</span>
            </div>
            <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script type="text/javascript">
                new TWTR.Widget({
                    version: 2,
                    type: 'profile',
                    rpp: 8,
                    interval: 30000,
                    width: 300,
                    height: 300,
                    theme: {
                        shell: {
                            background: 'transparent',
                            color: '#000'
                        },
                        tweets: {
                            background: 'transparent',
                            color: '#FFF',
                            links: '#FFFF00'
                        }
                    },
                    features: {
                        scrollbar: false,
                        loop: true,
                        live: true,
                        hashtags: true,
                        timestamp: true,
                        avatars: false,
                        behavior: 'all'
                    }
                }).render().setUser('updatedparty').start();
            </script>
        </div>
    </div>
    <div style="float: left; margin: 0 auto; width: 674px; height: 300px;">
        @using (Html.BeginForm())
        {
@*<p>
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
        </p>*@
            <div style="width: 100%; border: none">
                <div style="float: left">
                    <p>
                        Delegación:
                    </p>
                </div>
                <div class="styled-select" style="float: left">
                    @Html.DropDownList("delegacion")
                </div>
                <div style="float: left">
                    <input type="image" src="../../Content/images/boton-enviar.png" value="buscar" /></div>
            </div>
            <br />
        }
        <table class="supSearch">
            <tr>
                <th colspan="3" style="background-color: #000; border-bottom: 1px solid #FFF;">
                    <span style="font-size: 22px; font-family: 'Intro'; color: White;">What's UP</span>
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>@Html.ActionLink("Evento", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { style = "color:#FFFF00;" })
                </th>
                <th>
                    Promoción
                </th>
                @*<th>@Html.ActionLink("Fecha del evento", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>*@
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UPUserID }) |
            @Html.ActionLink("Details", "Details", new { id = item.UPUserID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UPUserID })
        </td>*@
                    <th>@Html.ActionLink(item.Bar.BarName, "Details", new { id = item.BarId }, new { style = "color:#FFFF00;" })
                    </th>
                    <td>
                        <p>@Html.DisplayFor(modelItem => item.BarEvent)</p>
                    </td>
                    <td>
                        <p>@Html.DisplayFor(modelItem => item.Promotion)</p>
                    </td>
                    @*<td>@Html.DisplayFor(modelItem => item.EventDate)
                        </td>*@
                </tr>
            }
        </table>
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @if (Model.HasPreviousPage)
            {
                @Html.ActionLink("<<", "Index", new { page = 1 })
                @Html.Raw(" ");
                @Html.ActionLink("< Anterior", "Index", new { page = Model.PageNumber - 1 })
            }
            else
            {
                @:<<
        @Html.Raw(" ");
                @:< Prev
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    }
            @if (Model.HasNextPage)
            {
                @Html.ActionLink("Siguiente >", "Index", new { page = Model.PageNumber + 1 })
                @Html.Raw(" ");
                @Html.ActionLink(">>", "Index", new { page = Model.PageCount })
            }
            else
            {
                @:Next >
        @Html.Raw(" ")
                @:>>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    }
        </div>
    </div>
</div>
<div id="section2" style="width: 100%; height: 4000px;">
    <br />
    <br />
    <br />
    <br />
    <div style="float: left;">
        <form method="get" action="@Url.Action("JsonSearch", "Home")" id="searchForm">
        <div id="antrosbares">
        </div>
        <div style="float: left; width: 724px;">
            <div style="clear: both; height: 200px">
                <div style="clear: both; width: 100%; text-align: center">
                    <p>
                        Resultados</p>
                </div>
                <div id="searchResults" style="float: left;">
                </div>
            </div>
            <script id="searchTemplate" type="text/x-jquery-tmpl">
             
                <div style="float:left; margin:10px; background: url(../../Content/images/Bbolita-blanca.png) no-repeat left top 7px;"><p style='margin-left:14px'>@Html.ActionLink("${BarName}", "Details", new { id = "BarID" }, new { style = "color:#FF3430;" })</p></div>
             
            </script>
        </div>
    </div>
    <div id="advancedSearch">
    </div>
    <div style="width: 100%; border: none">
        <div style="float: left">
            <p>
                Delegación:
            </p>
        </div>
        <div id="antrosbares-select" style="float: left">
            @Html.DropDownList("delegacion")
        </div>
        <div style="float: left">
            <input type="image" src="../../Content/images/boton-enviar.png" value="buscar" /></div>
    </div>
    <table class="tAdvancedSearch" style="border-spacing: 10px 0">
        <tr>
            <td style="background-color: transparent; text-align: center;">
                <p style="color: White; font-size: 20px; margin: 0;">
                    ¿DE QUÉ TRAES GANAS?</p>
            </td>
            <td>
                <div style="width: 200px; height: 20px; position: relative">
                    <p>
                        After</p>
                    @Html.RadioButton("after", "after", new { style = "position:absolute; right:0" })
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Gay Bar</p>

                    <input type="checkbox" id="checkbox_1_1" class="regular-checkbox" name="gaybar" />
                    <label for="checkbox_1_1">
                    </label>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Trova
                    </p>
                    @*@Html.CheckBox("Trova", false)*@
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 200px; height: 20px; position: relative;">
                    <p>
                        Bar
                    </p>
                    @Html.RadioButton("bar", "bar", new { style = "position:absolute; right:0" })
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Pub
                    </p>
                </div>
            </td>
            <td style="background-color: transparent">
                <div style="width: 200px; height: 20px;">
                    <p style="color: White; margin: 5px 1px 5px 1px;">
                        -------------------------------------------------
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Lounge
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Antro
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Karaoke
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Rock
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Banda
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td style="background-color: transparent">
                <div style="width: 200px; height: 20px;">
                    <p style="color: White; margin: 5px 1px 5px 1px;">
                        -------------------------------------------------
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Botanero
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Electrónica
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Pop
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Promoción
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Disco
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Hip-Hop
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Evento
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Mezcalería
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Jazz/Blues
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Alternativo
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Estacionamiento
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Cervecería
                    </p>
                </div>
            </td>
            <td>
                <div style="width: 200px; height: 20px;">
                    <p>
                        Reggae
                    </p>
                </div>
            </td>
        </tr>
    </table>
    </form>
</div>
<div id="section3" style="width: 100%; height: 4000px; background-color: #B4FCE9;">
</div>
<div id="section4" style="width: 100%; height: 4000px; background-color: #E3B8FF;">
</div>
